body{
    background-image: url("https://previews.123rf.com/images/topvectors/topvectors1809/topvectors180900194/107317122-fast-food-items-set-of-realistic-design-vector-stickers-isolated-on-white-background-.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    text-align: center;
}