<body>
  <div class="container">
  <div class="row">
     <div class="col">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a href="" class="navbar-brand">
           <img src="https://cdn2.vectorstock.com/i/1000x1000/00/71/letter-k-s-with-leaf-logo-design-vector-28120071.jpg" width="30" height="30" class="d-inline-block align-top mr-lg-3" alt="">
   <i>  K Story</i>
         </a>
         <ul class="navbar-nav mr-auto">
              <li class="navbar-list-active"><a href="" class="nav-link">HOME</a></li>
              <li class="navbar-list dropdown">
                  <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">dishes</a>
                   <div class="dropdown-menu">
                       <a href="http://localhost:4200/veg" class="dropdown-item">veg</a>
                       <a href="http://localhost:4200/non-veg" class="dropdown-item">non-veg</a>
                       <a href="http://localhost:4200/italian" class="dropdown-item">italian</a>
                   </div>
              </li>
              <li class="navbar-list"><a href="" class="nav-link">about us</a></li>
              <li class="navbar-list"><a href="" class="nav-link">Help</a></li>
         </ul>
         <form action="" class="form-inline">
           <input type="search" class="form-control mr-sm-3" placeholder="SEARCH">
           <button class="btn btn-outline-success">SEARCH</button>
         </form>
       </nav>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
           <div class="carousel-item active">
             <img src="https://b.zmtcdn.com/data/pictures/2/19628622/4a04b6a6cf8110451a2c8af551a4920d.jpg?fit=around|771.75:416.25&crop=771.75:416.25;*,*" class="d-block w-100">
           </div>

            <div class="carousel-item">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1HcjRun20sRvuGBug7YRq2z_fXtzQFe0J5A&usqp=CAU" class="d-block w-100">
            </div>

            <div class="carousel-item">
              <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkBtBpGSsreWeytiP_ZT9m6WAqsODIJQbZkA&usqp=CAU" class="d-block w-100">
            </div>
           
          </div>
        </div>

     </div>
 </div>
</div>

</body>
