h1{
    text-align: center;
    color: chartreuse;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmshWFUXRQBjKFsJ6whVqi1sV0whNka7Q4-A&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100%;
}